// Here you can add other styles

// 카카오 컬러
.kyellow{
    background-color: #ffff00;
}

// _______________________________________________________________________________________________
.custom_height {
    max-height: 200px;
    overflow-y: scroll;
}

// _______________________________________________________________________________________________
// 1라인 줄바꿈
.text-ellipsis{
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// 2라인 줄바꿈
.twoline-ellipsis{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
// _______________________________________________________________________________________________